*{
    font-family: 'Rubik', sans-serif;
}

/* Animations */
@keyframes blink {
    0%{
        border-right: none;
    }
    50%{
        border-right: 5px solid #272829;
    }
    
}

@keyframes typing {
    0%{width: 0%;}
    50%{width: 65%;}
    100%{width: 0%;}
}

h1, h2{
    font-weight: 600;
}


body{
    background-color: rgb(217, 233, 247);
    padding: 0px;
    scroll-behavior: smooth;
    
}

#closenav{
    opacity: 0;
}

body::-webkit-scrollbar{
    background-color: #61677a;
}

#ham{
    opacity: 0;
}

header{
    display: flex;
    padding: 10px;
    background-color: rgb(217, 233, 247);
    margin: -11px;
    height: 40px;
    position: sticky;
    top: 0px;
    z-index: 99;

    
}

.logo{
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;

    
}

.logo h2{
    font-weight: 600;
    margin-left: 15px;
    color: #61677a;
    font-family: 'Kanit', sans-serif;

}

.logo img{
    height: 100%;
    
    margin-left: 20px;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 1px black);
}

.main-items{
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
    width: 95%;
    align-items: center;
    margin-right: 150px;
}

.main-items ul{
    display: flex;
    list-style: none;
    transition: 0.1s linear;
}

.main-items ul:hover li{
    filter: blur(1px);
}

.main-items li{
    color: #272829;
    text-decoration: none;
    margin-left: 50px;
    font-weight: 600;
    font-size: 17px;
}

.main-items ul li:hover{
    filter: blur(0);
    transform: scale(1.05);
    cursor: pointer;
}

button{
    background-color: #d8d9da;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 10px;
    transition: 0.2s linear;
}

button:hover{
    box-shadow: 0px 0px 4px  #747475;
    transform: scale(1.1);
    cursor: pointer;
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.shape {
        width: 402px;
        height: 300px;
        background: #61677a;
        border-radius: 12296px 12298px  5006px 22223px;
        display: inline-block;
        box-shadow: 0px 0px 5px rgb(66, 64, 64);
        margin-right: 200px;
 }


.shape img{
    position: relative;
    top: -100.5px;
    left: 130px;
    filter: drop-shadow(0px 0px 5px black);
    height: 400px;
}

.main .head{
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.main .head h3{
    margin: 3px;
    font-weight: 500;
    color: #f4be34;
    font-weight: 600;
    
}


.main .head h1{
    color: #61677a;
    font-size: 57px;
    margin: 5px;
    font-weight: 600;
}

.main .head h2{
    color: #272829;
    font-size: 30px;
    filter: drop-shadow(0px 0px 1px #61677a);
    margin: 30px;
    margin-left: 140px;
    border-right: 5px solid #272829;
    transition: 5s linear;
    padding: 4px;
    animation: blink 0.5s step-end infinite, typing 4.4s steps(25) infinite;
    overflow: hidden;
    white-space: nowrap;
}


#s2{
    display: flex;
    padding: 20px;
    height: 400px;
}

#about-me{
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 70%;
    margin-left: 20px;
    background-color: #c6ddf9;
    border-radius: 20px;
    
}


#about-me h1{
    color: #272829;
    border-bottom: 10px double #f9dc91;
    width: fit-content;
    padding-bottom: 5px;
}

#about-me .head{
    color: #61677a;
    font-size: 20px;
   
}

#about-me .content{
    text-align: justify;
    
}

#about-me .content span{
    font-size: 20px;
    line-height: 40px;
    color: #272829;
   
}


#education{
    padding: 40px;
    background-color: #c6ddf9;
    border-radius: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    
}

#education h1{
    color: #272829;
    border-bottom: 10px double #f9dc91;
    width: fit-content;
    padding-bottom: 5px;
}

#education h2 i{
    margin-left: 6px;
}

#education a{
    text-decoration: none;
    margin-top: -10px;
    margin-bottom: 20px;
}
#education .head{
    color: #61677a;
    font-size: 16px;
    margin-right: 6px;
    

}

#education p{
    font-size: 16px;
}


#projects{
    padding: 40px;
    padding-top: 20px;
    text-align: center;
    height: 850px;
    margin: 20px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: #c6ddf9;
    margin-bottom:30px;
   
}

#projects h1{
    color: #272829;
    font-size: 30px;
    font-weight: 600;
    margin-top: 0px;
    padding: 18px;
    margin-bottom: 0px;
    margin-left: 585px;
    border-bottom: 10px double #f9dc91;
    width: fit-content;

}

.project #ph2{
    color: #61677a;
    filter: drop-shadow(0px 0px 1px black);
    margin-top: 5px;
}

.projects-contain{
    height: 80%;
    width: 97%;
    padding: 20px;
}

.projects-contain a{
    text-decoration: none;
    color: #272829;
    font-weight: 600;
    margin-right: 15px;
    margin-left: 15px;
}

.projects-contain a i{
    margin-right: 5px;
}

.projects-contain .project{
    background-color: transparent;
    padding: 10px;
    height: 95%;
    transition: 1s ease;
}

.project .desc{
    display: flex;
    margin-top: 40px;
    align-items: center;
}

.project p i{
   
    text-align: center;
    width: 50px;
    opacity: 0.4;
    margin-top: 40px;
    transform: 0.5s linear;

}

.project .active{
    transform: translateY(-3px);
    opacity: 1;
    filter: drop-shadow(2px 2px 5px black);
}

.project .desc button{
    font-size: 40px;
    background-color: transparent;
}


.projects-contain video{
    height: 60%;
    width: 77%;
    box-shadow: 0px 0px 10px black;
}


#exp{
    height:600px;
    background-color: #c6ddf9;
    margin: 20px;
    margin-top: 0px;
    border-radius: 15px;
    padding: 20px;
    padding-left: 40px;
    
}

#exp .container{
    display: flex;
}

#exp h1{
    font-size: 30px;
    font-weight: 600;
    border-bottom: 10px double #f4be34;
    padding-bottom: 10px;
    width: fit-content;
}


#exp .experience{
    margin-top: 50px;
    height: 40%;
    width: 700px;
    padding: 30px;
    border-radius: 20px;
    background-color: #b3d3fa;
    cursor: pointer;
    
}

#exp .experience .head{
    display: flex;
    align-items: center;
}

#exp .experience .head i{
    margin-right: 30px;
    filter: drop-shadow(0px 0px 5px #61677a);
}

#exp .experience .head span{
    font-size: 40px;
    margin-right: 20px;
    font-weight: 600;
}

#exp .experience .sub-head{
    font-size: 15px;
    color: #747475;
    margin-left: 49px;
}

#exp .experience .contain{
    font-size: 20px;
    margin-left: 50px;
    width: 90%;
    text-align: justify;
    margin-top: 40px;
}

#exp .experience button{
    margin: 30px;
    margin-bottom: 0px;
    margin-left: 530px;
    font-size: 15px;
    width: 150px;
}

#exp .experience button i{
    margin-left: 6px;
}

#exp .experience .contain a{
    text-decoration: none;
    color: #272829;
   
    font-weight: 600;
    font-size: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

#exp .container .img{
    width: 27%;
    margin: 0px;
    margin-top: -50px;
    margin-left: 150px;
    transition: 0.6s ease-in-out;
    height: 500px;
    opacity: 0;
    
}

#exp .container .imgactive{
   opacity: 1;
   box-shadow: 0px 0px 5px black;
    
}

footer{
   
    display: flex;
    flex-direction: column;
    height: 370px;
    margin: -10px;
    margin-top: 50px;
    padding-top: 30px;
    width: 102%;
    box-sizing: border-box;
    background-color: rgb(42, 95, 142);
    box-shadow: 0px 0px 5px black;
}

footer .head{
    color: #272829;
    margin-left: 40px;
    margin-top: 10px;
    font-size: 40px;
}

footer .sub-head{
    color: #fff6e0;
    margin-left: 40px;
    font-size: 30px;
    margin-top: 10px;
}

.mail{
    
    width: 30%;
    margin-left: 80px;
    margin-top: 30px;
    color: #272829;
    display: flex;
    padding: 5px;
    margin-bottom: 40px;
}

.mail i{
    font-size: 80px;
    margin: 10px;
    margin-right: 20px;
}

.mail-content{
    display: flex;
    flex-direction: column;
}

.mail-content h1{
    margin-bottom: 5px;
    margin-top: 19px;
}

.mail-content a{
    color: #fff6e0;
    text-decoration: none;
}

.footer-content{
    display: flex;
    justify-content: space-evenly;
}



.location{
    font-size: 75px;
}

/* Media Queries */

@media (max-width:440px) {

    header {
        display: flex;
        padding: 5px;
        background-color: rgb(217, 233, 247);
        margin: -11px;
        height: 30px;
        position: sticky;
        width: 100%;
        top: 0px;
        z-index: 99;
    }

    header #ham{
        position: absolute;
        right: 25px;
        top: 12px;
        opacity: 1;
    }

    #closenav{
        opacity: 1;
    }

    .main-items ul{
        flex-direction: column;
        width: 150px;
        justify-content: flex-end;
        height: 100vh;
        position: relative;
        top: 0px;
        z-index: 10;
        right: -500px;
        opacity: 1;
        padding-top: 30px;
        background-color:#d8d9da;
        box-shadow: 0px 0px 5px #272829;
        transition: 1s linear;
    }

    .main-items li{
       margin-bottom: 55px;
    }

    .main-items li {
        color: #272829;
        text-decoration: none;
        margin-left: 5px;
        font-weight: 600;
        font-size: 17px;
    }


    .main-items a{
        color: #272829;
        margin-left: -13px;
        font-weight: 600;
        
        font-size: 15px;
    }
    
    .main {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: flex-start;
        width: 80%;
        height: 33vh;
    }

    .main .head {
        margin-left: -101px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .main .head h3 {
        margin: 3px;
        font-weight: 500;
        color: #f9dc91;
        font-weight: 600;
        font-size: 12px;
    }

    .main .head h1 {
        color: #61677a;
        font-size: 20px;
        margin: 5px;
        font-weight: 600;
    }

    .main .head h2 {
        color: #272829;
        font-size: 12px;
        filter: drop-shadow(0px 0px 1px #61677a);
        margin: 6px;
        margin-left: 15px;
        margin-bottom: 10px;
        border-right: 5px solid #272829;
        transition: 4s linear;
        padding: 4px;
        animation: blink 1s step-end infinite, typing 3s steps(15) infinite;
        overflow: hidden;
        white-space: nowrap;
    }


    button {
        background-color: #d8d9da;
        border: none;
        border-radius: 20px;
        padding: 1px;
        font-size: 7px;
        transition: 0.2s linear;
        height: 20px;
        width: 88px;
    }

    .shape {
        width: 106px;
        height: 86px;
        background: #61677a;
        border-radius: 12296px 12298px  5006px 22223px;
        display: inline-block;
        box-shadow: 0px 0px 5px rgb(66, 64, 64);
        margin-right: -288px;
    }

    .shape img {
        position: relative;
        top: -34.5px;
        left: 28px;
        filter: drop-shadow(0px 0px 5px black);
        height: 120px;
    }

    #s2 {
        display: flex;
        padding: 20px;
        height: 400px;
        flex-direction: column;
    }

    #education {
        padding: 20px;
        background-color: #c6ddf9;
        border-radius: 20px;
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    #education h1 {
        color: #272829;
        border-bottom: 10px double #f9dc91;
        width: fit-content;
        font-size: 20px;
        padding-bottom: 5px;
        margin: 5px;
    }

    #education h2{
        font-size: 15px;
    }

    #education .head {
        color: #61677a;
        font-size: 9px;
        margin-right: 6px;
    }

    #education p {
        font-size: 11px;
        text-align: justify;
        margin-top: 2px;
    }

    #about-me {
        display: flex;
        flex-direction: column;
        padding: 25px;
        width: 88%;
        margin-left: -1px;
        background-color: #c6ddf9;
        border-radius: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #about-me h1 {
        color: #272829;
        border-bottom: 10px double #f9dc91;
        width: fit-content;
        padding-bottom: 5px;
        font-size: 20px;
        margin-top: 0px;
    }

    #about-me .head {
        color: #61677a;
        font-size: 11px;
    }

    #about-me .content {
        text-align: justify;
        font-size: 11px;
    }

    #about-me .content span {
        font-size: 11px;
        line-height: 20px;
        color: #272829;
    }

    #projects {
        padding: 40px;
        padding-top: 40px;
        text-align: center;
        height: 300px;
        margin: 14px;
        margin-top: 223px;
        border-radius: 20px;
        background-color: #c6ddf9;
        margin-bottom: 30px;
        width: 73%;
    }
    #projects h1 {
        color: #272829;
        font-size: 20px;
        font-weight: 600;
        margin-top: -17px;
        padding: 9px;
        margin-bottom: 0px;
        margin-left: 96px;
        border-bottom: 5px double #f9dc91;
        width: fit-content;
    }
    
    .project #ph2 {
        color: #61677a;
        filter: drop-shadow(0px 0px 1px black);
        margin-top: -17px;
        font-size: 10px;
        margin-left: -27px;
    }

    .projects-contain a {
        text-decoration: none;
        color: #272829;
        font-weight: 600;
        margin-right: 15px;
        margin-left: -4px;
        font-size: 8px;
        /* margin-top: -5px; */
    }

    .project .video{
        width: fit-content;
    }
    .project .desc {
        display: flex;
        margin-top: 26px;
        align-items: center;
        margin-left: -58px;
        width: 344px;
    }

    .project p{
        margin: 0px;
        margin-left: -36px;
      
    }

    .project p i{
        font-size: 6px;
        width: fit-content;
        margin-left: 16px;
    
    }

    .projects-contain video {
        height: 77%;
        width: 100%;
        box-shadow: 0px 0px 10px black;
    }

    .project .desc button{
        font-size: 10px;
        background-color: transparent;
        width: fit-content;
        margin: 0px 10px;
    }

    #exp {
        height: 720px;
        background-color: #c6ddf9;
        margin: 14px;
        margin-top: 0px;
        border-radius: 15px;
        padding: 9px;
        padding-left: 20px;
        width: 85%;
    }

    #exp h1 {
        font-size: 20px;
        font-weight: 600;
        border-bottom: 6px double #f4be34;
        padding-bottom: 6px;
        width: fit-content;
    }

    #exp .experience {
        margin-top: 10px;
        height: 70%;
        width: 263px;
        padding: 30px;
        border-radius: 20px;
        background-color: #b3d3fa;
        cursor: pointer;
    }

    #exp .experience .head {
        display: flex;
        align-items: center;
        font-size: 10px;
    }

    #exp .experience .head span {
        font-size: 13px;
        margin-right: 0px;
        font-weight: 600;
    }

    #exp .experience .sub-head {
        font-size: 7px;
        color: #747475;
        /* margin-left: 50px; */
        margin-left: 40px;
    }

    #exp .experience .contain {
        font-size: 10px;
        margin-left: 0px;
        width: 103%;
        text-align: justify;
        margin-top: 28px;
    }

    #exp .experience .contain a {
        text-decoration: none;
        color: #272829;
        font-weight: 600;
        font-size: 14px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #exp .experience button {
        margin: 16px;
        margin-bottom: 0px;
        margin-left: 166px;
        font-size: 12px;
        width: 105px;
    }

    #exp .container {
        display: flex;
        flex-direction: column;
    }

    #exp .container .img {
        width: 70%;
        margin: 0px;
        margin-top: 50px;
        margin-left: 45px;
        transition: 0.6s ease-in-out;
        height: 330px;
    }

    footer {
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin: -9px;
        margin-top: 50px;
        padding-top: 30px;
        width: 105%;
        box-sizing: border-box;
        background-color: rgb(42, 95, 142);
        box-shadow: 0px 0px 5px black;
    }

    footer .head {
        color: #272829;
        margin-left: 20px;
        margin-top: -16px;
        font-size: 20px;
    }

    footer .sub-head {
        color: #fff6e0;
        margin-left: 21px;
        font-size: 14px;
        margin-top: -1px;
    }

    .mail {
        width: 30%;
        margin-left: 18px;
        margin-top: -8px;
        color: #272829;
        display: flex;
        padding: 5px;
        margin-bottom: 9px;
    }

    .mail-content h1 {
        margin-bottom: 5px;
        margin-top: 14px;
        font-size: 14px;
    }

    .mail-content a {
        color: #fff6e0;
        text-decoration: none;
        font-size: 10px;
    }

    .mail i{
        font-size: 40px;
        margin: 10px;
        margin-right: 20px;
    }

    .footer-content {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        margin-top: 20px;
    }
    
    .mail{
        margin-left: 10px;
    }
}
